<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <a href="{{url}}">
                        <h5 class="card-title">{{title}}</h5>
                    </a>
                    <p class="card-text">
                        {{summary}}
                    </p>
                    <br>
                    <form action="/home" method="GET">
                        <button type="submit" class="btn btn-info">Back</button>
                    </form>
                 </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{#if comment}}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            {{comment.title}}
                        </p>
                        <form>
                            <button type="submit" data-id="{{comment._id}}" id="deletecomment" class="btn btn-info" value="{{_id}}">Delete</button>
                        </form>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>

</div>